.container {
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #effff3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin: 50px;
    align-items: center;
    

}

.container_prima {
    text-align: left;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #effff3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin: 50px;

}

h1 {
    margin-left: 20px;
    margin-bottom: 20px;
}

.padding {
    text-align: center;
    margin-bottom: 30px;
}